/* nejsme vcerejsi, pouzivame moderni box model */
*, :after, :before { box-sizing: border-box; }

body {
	font-family: sans-serif;
	font-size: 14px;
}

h1 {
	text-align: center;
}

.popis {
	font-size: 15px;
}

.osoba {
	text-align: center;
	padding: 20px;
	margin-bottom: 20px;
	border-radius:8px;
	box-shadow:0 2px 4px grey;
}

.foto img {
	border-radius:50%;
}

@media screen and (min-width:540px) {
	.tym {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		gap:20px;
	}

	.osoba {
		display:flex;
		justify-content: end;
		flex: 1 1 45%;
	
	}

	.foto {
		flex: 0 0 80px;
		margin-right: 20px;
	}

	.foto img {
		width:100%;
	}
}

@media screen and (min-width:1000px) {
	.tym {
		flex-wrap: nowrap;
	}

	.osoba {
		flex: 1 1 20%;
		display: block;
		text-align: center;
	}

	.foto {
		margin: 0;
	}

	.foto img {
		width: auto;
	}
}
